* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: transparent;
  font-family: Oxygen, sans-serif;
  height: 100%;
  letter-spacing: 1px;
}

body {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
  min-height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  position: relative;
}

main {
  margin-left: 20%;
  max-width: 1000px;
  padding: 0 20px 6rem;
  width: 80%;
}

footer {
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  margin-left: 20%;
  padding: 14px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 80%;
  background-color: hsl(0, 0%, 90%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  border-bottom: 1px solid hsl(0, 0%, 70%);
  font-size: 1rem;
  margin: 0 15px;
  padding: 20px;
}

h2 {
  font-size: 1.62rem;
  letter-spacing: 4px;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: hsl(187, 92%, 22%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

button,
button:hover,
button:active,
button:focus,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.material-icons {
  vertical-align: middle;
}

/* Code styles */
code {
  background: hsl(0, 0%, 95%);
  border-radius: 3px;
  color: #cc0052;
  font-family: "Oxygen Mono", monospace;
  padding: 2px;
  white-space: nowrap;
}

pre {
  background: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 3px;
  overflow-x: auto;
  padding: 12px;
}

pre code {
  background: transparent;
  border-radius: 0;
  line-height: 1.3;
  white-space: pre;
}

/* Button styles */
.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  line-height: normal;
  padding: 0;
  width: auto;
}

.button:hover {
  text-decoration: none;
}

/* Navbar styles */
nav {
  background: hsl(0, 0%, 93%);
  border: 0;
  border-right: 1px solid hsl(0, 0%, 70%);
  bottom: 0;
  height: 100%;
  left: 0;
  line-height: 1.3;
  overflow: scroll;
  position: fixed;
  text-align: center;
  top: 0;
  width: 20%;
  z-index: 1;
}

nav .dropdown-button,
nav .dropdown-button:hover,
nav .dropdown-button:active,
nav .dropdown-button:focus {
  display: none;
}

nav .nav-links {
  font-size: 0.9rem;
  padding-top: 15px;
}

nav .nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .nav-links a,
nav .nav-links a:visited,
nav .nav-links a:hover,
nav .nav-links a:active,
nav .nav-links a:focus {
  display: block;
  padding: 10px 20px;
}

nav .nav-links a:hover,
nav .nav-links a:focus {
  background: hsl(187, 92%, 95%);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

/* Document section styles */
section {
  padding: 30px 10px;
}

section .container {
  border-bottom: 1px solid hsl(0, 0%, 70%);
  padding-bottom: 10px;
}

section:last-child .container {
  border: 0;
}

section p,
section li {
  line-height: 1.75;
}

/* MEDIA QUERIES */

@media all and (max-width: 750px) {
  
  main {
    margin: 0;
    padding-top: 60px;
    width: 100%;
  }
  
  footer {
    margin: 0;
    width: 100%;
  }
  
  h1 {
    border: 0;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    bottom: auto;
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: visible;
    right: 0;
    width: 100%;
  }
  
  nav .nav-item {
    line-height: normal;
    margin: 0;
    padding: 15px;
  }
  
  nav .dropdown-button,
  nav .dropdown-button:hover,
  nav .dropdown-button:active,
  nav .dropdown-button:focus {
    color: hsl(187, 92%, 22%);
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  nav .dropdown-button:focus {
    background: hsl(0, 0%, 80%);
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  nav .dropdown-icon {
    font-size: 1.8rem;
  }
  
  nav .nav-links {
    display: none;
  }
  
  nav .nav-links.show {
    background: hsl(0, 0%, 93%);
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-top: 1px solid hsl(0, 0%, 70%);
    display: block;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: right;
    top: 50px;
    width: 100%;
  }
}